@use '../base' as *;

#code{
  .code-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
  }

  #blue-potion{
    width: 8rem;
  }

  .made-with{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2.5rem;
  }

  .tools{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.2rem;
  }
}
