@use '../base' as *;

#experiences{
  padding-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: visible;

  *{overflow: visible;}

  .experiences-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    @include breakpoint-max-width(medium){padding: unset;}

    .projects{
      flex: 0 0 29rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-self: flex-start;
      gap: 1rem;
      @include breakpoint-max-width(medium){flex: unset;}

      .project{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-self: flex-start;
        padding: 0.5rem;

        .website-link{
          display: block;
          width: 14rem;
          margin: 0.4rem 0 0 0;
          padding: unset;
        }
      }
      .project:hover{
        cursor: pointer;
        transform: rotateY(30deg);
      }
    }
  
    .projects-video{
      position: relative;
      flex-basis: 40vw;
      max-width: 58rem;
      @include breakpoint-max-width(medium){display: none;}
     
      video{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
