@use '../base' as *;

footer{
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 3rem;

  p{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span{font-size: inherit;}

  .coffee-icon{font-size: inherit;}
}
