@use '../base' as *;

#languages{
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.8rem;

  .lang-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4rem;
    flex-wrap: wrap;
  }

  .fluent, .intermediate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}