@use '../base' as *;

#more-info{
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.8rem;

  .info-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    flex-wrap: wrap;
  }

  .info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    p{
      @include breakpoint-max-width(small){font-size: 1.54rem;}
    }
  }
}
