@use '../base' as *;

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem 0;

  p{
    display: flex;
    justify-content: center;
    align-items: center;

    a{margin: 0;}
  }

  span{font-size: inherit;}

  .coffee-icon{font-size: inherit;}
}
