@use '../base' as *;

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 10rem;
  width: 100%;
  padding: 2rem 3rem 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: linear-gradient(to bottom, var(--black) 50%, transparent);


  *{
    font-weight: var(--regular);
    font-size: 2rem;
  }

  #currrent-page-logo{
    flex-basis: 6rem;
    color: var(--blue);
    font-weight: var(--bold);
  }

  .header-nav-btn{
    display: none;
    background-color: var(--black);
    z-index: 100;
  }
  .open-menu-btn{
    @include breakpoint-max-width(medium){display: inline-block;}
  }
  .open-icon, .close-icon{font-size: 2.5rem;}

  nav{
    flex-basis: 26rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include breakpoint-max-width(medium){
      position: fixed;
      flex-direction: column;
      align-items: flex-end;
      width: 100vw;
      height: 100vh;
      padding: 65vh 4rem 8rem 0;
      z-index: 90;
      background-color: var(--black);
      opacity: 0.9;
      left: 100vw
    }

    a{
      @include breakpoint-max-width(medium){
        font-weight: var(--bold);
        font-size: 2.5rem;
      }
    }
  }

  .linkedin-icon, .github-icon{
    font-size: 2.5rem;
    color: var(--blue);
    @include breakpoint-max-width(medium){font-size: 4rem;}
  }
}

