@use '../base' as *;

main{
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @include breakpoint-max-width(large){padding: 0 5rem;}
  @include breakpoint-max-width(medium){padding: 0;}
}

main::after{
  content: "";
  display: block;
  position: absolute;
  top: 50vh;
  bottom: 50vh;
  left: 10rem;
  width: 2px;
  opacity: 0.3;
  background: var(--blue);
  @include breakpoint-max-width(large){left: 5rem;}
  @include breakpoint-max-width(medium){left: 1rem;}
}
#main-index::after{height: 270%;}
#main-about::after{
  height: 170%;
  @include breakpoint-max-width(large){height: 210%;}
  @include breakpoint-max-width(medium){height: 200%;}
  @include breakpoint-max-width(small){height: 250%;}
}
